#divFondo {
    position: relative;
    background-color: #000;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

#divFondo video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 118%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#divFondo .container {
    position: relative;
    z-index: 2;
}

#divFondo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: 0.3;
    z-index: 1;
}

body {
    height: 200vh;
    margin: 0 0;
    padding: 0 0;
}

.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 12px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}

.active {
    background-color: #B789B1;
}

p {
    color: #B789B1;
}

h1,
h2,
h3,
h4,
h5 {
    color: #e8056f;
}

::selection {
    color: white;
    background: #d6d6d6;
}

.wrapper {
    max-width: 450px;
    margin: 150px auto;
}

.wrapper .search-input {
    background: white;
    width: 100%;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #d6d6d6;
}