<!DOCTYPE html>
<html lang="es">
<head>
	<title>:D</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Practicas para aprender frame SpringBoot">
    <meta name="keywords" content="Practicas, SpringBoot">
    <meta name="author" content="Alejandro Cornejo">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css">
    
</head>
<body>
  <header>
            
  </header>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">

    <div class="container-fluid">
      <a class="navbar-brand" th:thref="@{index.html}">Salud virtual</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <a class="nav-link" th:href="@{/}" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>
    </div>

</nav>

  <article>

    <div class="jumbotron" style="background-color: #e1e1e1;">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-outline-info" href="#" role="button">Learn more</a>
    </div>

    <br>
    
    <div class="container">
      <div class="row">

        <!--for-each variable temporal : ${parametro}, El parametro viene de la clase "Post"-->
        <div th:each="post : ${posts}" class="col-3"> <!--El for va a recorrer una lista-->
          <div class="card" style="width: 18rem;">
            <img th:src="${post.urlImg}" src="../static/img/aqua.jpg" alt=""> <!--La variable insertada tiene que ser igual de la clase creada,
                                                                                  en este caso es la clase "Post", el "th:..." debe ser perteneciente
                                                                                  a lo que se desea mostrar-->
            <div class="card-body">
              <h5 th:text="${post.title}" class="card-title">Card title</h5>
              <p th:text="${post.description}" class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit enim dolorem tempore non excepturi expedita natus ab magni odit aliquam. Dignissimos explicabo et veniam in sunt, necessitatibus perspiciatis minus aliquid.</p>
              <p th:date="${post.date}" class="card-date"></p>
              <a href="#" class="btn btn-outline-info">go somewere</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
      
  </article>

  <section>
      
  </section>

  <aside> <!--Aparte-->
      
  </aside>

  <footer>
      <div class="row">
        <div class="col-12">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
  </footer>

  <script th:src="@{/js/jquery/jquery-3.6.0.js}" src="../static/js/jquery-3.6.0.js"></script>
  <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>
